* {
  margin:  0;
  padding:  0;
  box-sizing: border-box;
  font-family: monospace;
  

}

.cardHighlight {
  min-height: 100%;
}

#card123 {
  text-align: justify;
}

#root {
  background: whitesmoke;
}

h2 {
  text-align: center;
}

